.container {
    margin-bottom: 100px;
}

#navbarNav {
    font-weight: 700;
}

.carousel-bg {
    background-color: #ffc0cb63;
    border-radius: 10px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}

.carousel-item {
    padding: 20px 40px;
}

.category img {
    width: 100px;
}

.category-1,
.category-2,
.category-3 {
    padding: 10px 36px;
    border-radius: 10px;
}

.category-1 {
    background-color: #ff136f;
}

.category-2 {
    background-color: orangered;
}

.category-3 {
    background-color: blue;
}

.category h1 {
    color: white;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    ;
}

#contact {
    height: 300px;
    background-color: #ffc0cb63;
}

input[type="email"] {
    padding: 5px 5px;
}

footer p {
    text-align: center;
}